@import "../../styles/Variables.scss";

.summary-containers{
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: $white;
  position: relative;
  transition: all 200ms ease-out;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  background-color: $royal-blue;
  .text{
    width: 100%;
    font-size: 1rem;
    text-align: center;
    line-height: 1.1;
    font-weight: lighter;
  }
}