@import "Variables";

html, body, #root, .vertical-center{
  min-height: 100vh;
}
.table thead th{
  border-bottom: none;
  font-weight: 400;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.table td{
  vertical-align: middle !important;
  font-weight: lighter;
}
.vertical-center{
  display: flex;
  align-items: center;
}

body{
  background-color: $black;
  color: $white;
}

#menu-trigger{
  a{
    color: #fff;
    text-decoration: none;
  }
}

.toast{
  right: 50px;
  position: fixed;
  display: block;
  opacity: 1;
  z-index: 999;
  bottom: 20px;
  color: $white;
}

.toast-success{
  background-color: $green;
}

.toast-fail{
  background-color: $pink;
}

.btn.add-buttons{
  font-size: 1.5rem;
  font-weight: lighter;
  color: $white;
  background-color: $green;
  border-radius: 5px;
  transition: all 200ms ease-out;
  &:hover{
    color: $white;
    background-color: $light-green;
    text-decoration: none;
  }
  &.btn-sm{
    font-size: 1rem;
  }
}
.btn.dark-button{
  font-size: 1.5rem;
  font-weight: lighter;
  color: $volt;
  background-color: $dark-gray;
  border-radius: 5px;
  transition: all 200ms ease-out;
  &:hover{
    color: $volt;
    background-color: $light-gray;
    text-decoration: none;
  }
  &.btn-sm{
    font-size: 1rem;
  }
}

.form-row{
  position: relative;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn:focus, .btn:active {
  text-decoration: none;
}
.btn{
  user-select: none;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus{
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.error-text{
  color: $pink;
  margin: 2px 0px -15px 0px;
  font-weight: lighter;
  &::before {
    display: inline;
    content: "⚠ ";
  }
}

select.form-control{
  background-color: transparent;
  border: none;
  border-radius: 0px;
  font-size: 2rem;
  color: $white;
  font-weight: lighter;
  border-bottom: 1px solid $pink;
  &:focus{
    color: $white;
    background-color: transparent;
    border-color: $pink;
    outline: 0;
    box-shadow: none;
  }
}

form{
  input[type="text"]{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-size: 2rem;
    color: $white;
    font-weight: lighter;
    border-bottom: 1px solid $pink;
    &:focus{
      color: $white;
      background-color: transparent;
      border-color: $pink;
      outline: 0;
      box-shadow: none;
    }
    &.form-control-sm{
      font-size: 1.5rem;
    }
  }
}

#spinner-glass{
  z-index: 9999;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255,255,255,0.4);
  #spinner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

body.DARK_THEME{
  .modal-content{
    background-color: #444;
    .close{
      color: #fff;
      text-shadow: none;
      opacity: 1;
    }
  }
}

body.LIGHT_THEME{
  #spinner-glass{
    background-color: rgba(255,255,255,0.7);
  }
  background-color: #efefef;
  color: $black;
  select.form-control{
    background-color: transparent;
    color: $black;
    &:focus{
      color: $black;
      background-color: transparent;
      border-color: $pink;
    }
  }

  .height:after, .weight:after{
    color: $black;
  }

  .btn.dark-button{
    color: $white;
    background-color: $royal-blue;
    &:hover{
      color: $white;
      background-color: $baby-blue;
    }
  }

  form{
    input[type="text"]{
      background-color: transparent;
      color: $black;
      border-bottom: 1px solid $pink;
      &:focus{
        color: $black;
        background-color: transparent;
        border-color: $pink;
      }
    }
  }
}