@import "Variables";
@import 'node_modules/react-big-calendar/lib/sass/styles';

.custom-section-containers{
  background-color: $dark-gray;
  border-radius: 5px;
  padding: 10px;
  .custom-section-headers{
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
  }
}
.over-right-col{
  z-index: 99;
}

.fc a{
  font-weight: 300;
}
.fc .fc-highlight{
  border:2px solid $pink;
}
.fc .fc-toolbar.fc-header-toolbar{
  margin-bottom: 0px !important;
  padding: 3px 0px 2px 0px;
  position: relative;
  .fc-button-primary{
    background-color: transparent;
    font-weight: 300;
    border: none;
    outline: none;
    &:active, &:focus{
      box-shadow: none !important;
      outline: none !important;
    }
  }
}
.fc-col-header-cell-cushion{
  font-weight: 300;
  font-size: 1rem;
}
.fc-toolbar-title{
  font-weight: lighter;
  font-size: 1rem !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.fc-col-header-cell-cushion, .fc-daygrid-day-number{
  &:hover{
    text-decoration: none;
  }
}

body.LIGHT_THEME{
  .fc a{
    color: $black;
  }
  .fc-day-today{
    background-color: #efefef !important;
  }
  .fc .fc-toolbar.fc-header-toolbar{
    background-color: $dark-gray;
  }
  .fc-col-header-cell-cushion{
    color: $black;
  }
  .fc .fc-toolbar-title{
    color: $white;
  }
  .fc-day-other{
    background-image: linear-gradient(45deg,#efefef 4.55%,#fff 0,#fff 50%,#efefef 0,#efefef 54.55%,#fff 0,#fff);
    background-size: 15.56px 15.56px;
  }
}
body.DARK_THEME{
  .fc{
    background-color: $black;
  }
  .fc a{
    color: $white;
  }
  .fc-day-today{
    background-color: $light-gray !important;
    .fc-daygrid-day-number{
      color: $white;
    }
  }
  .fc .fc-toolbar.fc-header-toolbar{
    background-color: $dark-gray;
  }
  .fc-col-header-cell-cushion{
    color: $white;
  }
  .fc .fc-toolbar-title{
    color: $white;
  }
  .fc-day-other{
    background-image: linear-gradient(45deg,$dark-gray 4.55%,#000 0,#000 50%,$dark-gray 0,$dark-gray 54.55%,#000 0,#000);
    background-size: 15.56px 15.56px;
  }
  .fc-theme-standard th{
    border: 1px solid $dark-gray;
    border-bottom: none;
  }
  .fc-daygrid-more-link{
    color: $white !important;
  }
  .fc-theme-standard td{
    border: 1px solid $dark-gray;
  }
  .fc-theme-standard .fc-scrollgrid{
    border: none;
  }
}

.rbc-calendar{
  border-right: 1px solid $dark-gray;
  background-color: $black;
  .rbc-toolbar{
    display: none !important;
  }
  .rbc-month-view{
    border: none;
    .rbc-header{
      font-weight: lighter;
      font-size: 1rem;
      background-color: $dark-gray;
      border-bottom: none;
      padding: 10px;
    }
    .rbc-day-bg + .rbc-day-bg, .rbc-month-row + .rbc-month-row, .rbc-header + .rbc-header{
      border-color: $dark-gray;
    }
    .rbc-date-cell{
      font-size: 1.5rem;
      font-weight: lighter;
    }
    .rbc-event{
      background-color: $pink;
    }
    .rbc-row-segment .rbc-event-content{
      text-align: center;
    }
    .rbc-current a{
      color: $dark-gray;
    }
    .rbc-today{
      background-color: $volt;
      color: $dark-gray;
    }
    .rbc-off-range-bg{
      background-image: linear-gradient(45deg, #555555 4.55%, #000000 4.55%, #000000 50%, #555555 50%, #555555 54.55%, #000000 54.55%, #000000 100%);
      background-size: 15.56px 15.56px;
    }
  }
}

body.LIGHT_THEME{
  #current-date, #weight-difference{
    color: $black;
    font-weight: 500;
  }
  .custom-section-containers{
    background-color: #fff;
  }
  .rbc-calendar{
    border-right: 1px solid $light-gray;
    background-color: $white;
    border-right: none;
    .rbc-month-view{
      .rbc-header{
        background-color: $dark-gray;
        color: $white;
      }
      .rbc-day-bg + .rbc-day-bg, .rbc-month-row + .rbc-month-row, .rbc-header + .rbc-header{
        border-color: #ddd;
      }
      .rbc-event{
        background-color: $pink;
      }
      .rbc-current a{
        color: $dark-gray;
      }
      .rbc-today{
        background-color: #efefef;
        color: $white;
      }
      .rbc-off-range-bg{
        background-image: linear-gradient(45deg, #efefef 4.55%, #fff 4.55%, #fff 50%, #efefef 50%, #efefef 54.55%, #fff 54.55%, #fff 100%);
        background-size: 15.56px 15.56px;
      }
    }
  }
}
