$pink: rgb(250, 17, 79);
$volt: rgb(206,255,0);
$dark-orange: rgb(255, 59, 48);
$orange: rgb(255, 149, 0);
$yellow: rgb(255,230, 32);
$green: rgb(4, 220, 113);
$teal: rgb(0,245,234);
$baby-blue: rgb(90, 200,251);
$royal-blue: rgb(32,148, 250);
$purple: rgb(120,122, 255);
$gray: rgba(242,244,255,0.5);
$dark-gray: #333;
$light-gray: #555;
$black: rgb(0,0,0);
$white: rgb(255,255,255);